<div>
    <h1>Productos en el carrito</h1>
    <ul>
        {{#each cart.products}}
        <li>
            <h2>{{this.id.titulo}}</h2>
            <p>Descripción: {{this.id.descripcion}}</p>
            <p>Precio: {{this.id.precio}}</p>
            <p>Thumbnail: {{this.id.thumbnail}}</p>
            <p>Categoría: {{this.id.categoria}}</p>
            <p>Código: {{this.id.code}}</p>
            <p>Stock: {{this.id.stock}}</p>
            <p>Disponible: {{this.id.disponible}}</p>
            <p>Cantidad: {{this.quantity}}</p>
        </li>
        {{/each}}
    </ul>
    <button onclick="clearCart()">Eliminar todos los productos del carrito</button>
</div>

<script>
    async function clearCart() {
    const cartId = '66620cdf469ef1dd89e6a3cb'; // Usa el ID del carrito que necesitas

    try {
        const response = await fetch(`/api/carts/${cartId}`, {
            method: 'DELETE',
        });

        if (response.ok) {
            const result = await response.json();
            alert('Todos los productos han sido eliminados del carrito');
            location.reload(); // Recarga la página para actualizar la lista de productos
        } else {
            const error = await response.json();
            alert(`Error: ${error.message}`);
        }
    } catch (error) {
        console.error('Error al eliminar todos los productos del carrito:', error);
        alert('Hubo un error al intentar eliminar todos los productos del carrito');
    }
}
</script>