<h2>Editar Producto</h2>

<form id="updateProductForm">
    <input type="hidden" id="productId" value="{{product._id}}">
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" value="{{product.titulo}}">
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="descripcion">{{product.descripcion}}</textarea>
    <label for="precio">Precio:</label>
    <input type="number" id="precio" name="precio" value="{{product.precio}}">
    <label for="thumbnail">Thumbnail:</label>
    <input type="text" id="thumbnail" name="thumbnail" value="{{product.thumbnail}}">
    <label for="categoria">Categoría:</label>
    <input type="text" id="categoria" name="categoria" value="{{product.categoria}}">
    <label for="code">Code:</label>
    <input type="text" id="code" name="code" value="{{product.code}}">
    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" value="{{product.stock}}">
    <label for="disponible">Disponible:</label>
    <input type="checkbox" id="disponible" name="disponible" {{#if product.disponible}}checked{{/if}}>
    <button type="submit">Guardar Cambios</button>
</form>

<script>
    document.getElementById('updateProductForm').addEventListener('submit', async function(event) {
        event.preventDefault();
        
        const productId = document.getElementById('productId').value;
        const titulo = document.getElementById('titulo').value;
        const descripcion = document.getElementById('descripcion').value;
        const precio = document.getElementById('precio').value;
        const thumbnail = document.getElementById('thumbnail').value;
        const categoria = document.getElementById('categoria').value;
        const code = document.getElementById('code').value;
        const stock = document.getElementById('stock').value;
        const disponible = document.getElementById('disponible').checked;

        const productData = {
            titulo,
            descripcion,
            precio,
            thumbnail,
            categoria,
            code,
            stock,
            disponible
        };

        try {
            const response = await fetch(`/api/products/${productId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(productData)
            });

            if (response.ok) {
                alert('Producto actualizado con éxito');
                window.location.href = '/products';
            } else {
                alert('Error al actualizar el producto');
            }
        } catch (error) {
            console.error('Error:', error);
            alert('Error al actualizar el producto');
        }
    });
</script>
